<div class="row qz-bg-blue-light">
  <div class="col"></div>
  <div class="col-10">
    <h1 class="text-center my-5 qz-text-blue" routerLink="/">
      How does GMDT Quiz work?
    </h1>
    <div class="row">
      <div class="col-md-12 col-lg-4 my-5">
        <div>
          <img
            src="../../../assets/svg/undraw_building_blocks_n0nc.svg"
            class="illustrations"
            alt=""
          />
          <h2 class="py-3 qz-text-blue text-center">1. Create Quiz</h2>
          <p class="mx-4 px-4 py-0 text-center">
            Users can effortlessly create a quiz or learning game on any
            subject. The process is quick, taking only a few minutes.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 my-2">
        <div>
          <img
            src="../../../assets/svg/undraw_going_up_ttm5.svg"
            class="illustrations"
            alt=""
          />
          <h2 class="py-3 qz-text-blue text-center">2. Host a Challenge</h2>
          <p class="mx-4 px-4 py-0 text-center">
            Once the quiz is prepared, hosts can initiate a challenge with Quiz
            questions and share it with remote players.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 my-5">
        <div>
          <img
            src="../../../assets/svg/undraw_press_play_bx2d.svg"
            class="illustrations"
            alt=""
          />
          <h2 class="py-3 qz-text-blue text-center">3. Join with PIN</h2>
          <p class="mx-4 px-4 py-0 text-center">
            Participants can join the challenge by entering the unique PIN
            provided by the host.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4 my-2"></div>
      <div class="col-md-12 col-lg-4 my-5">
        <div>
          <img
            src="../../../assets/svg/undraw_press_play_bx2d.svg"
            class="illustrations"
            alt=""
          />
          <h2 class="py-3 qz-text-blue text-center">
            4. Answer on Your Device
          </h2>
          <p class="mx-4 px-4 py-0 text-center">
            Using their own devices, players can respond to the quiz questions.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 my-2"></div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-4 my-5"></div>
      <div class="col-md-12 col-lg-4 my-2">
        <div>
          <img
            src="../../../assets/svg/undraw_press_play_bx2d.svg"
            class="illustrations"
            alt=""
          />
          <h2 class="py-3 qz-text-blue text-center">
            5. Track Participants' Results
          </h2>
          <p class="mx-4 px-4 py-0 text-center">
            GMDT Quiz offers the ability to track participants' results,
            enabling hosts to monitor their progress and performance.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 my-5"></div>
    </div>
  </div>
  <div class="col"></div>
</div>
