nav {
  display: flex;
  width: 100%;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.1s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

.table-box {
  // width: 85%;
  height: 330px;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
}
table,
th,
td {
  text-align: center;
}
thead {
  color: rgb(3, 3, 3);
}
